.gridContainer {
    padding: 6px;
    display: grid;
    gap: 0px;
    grid-auto-flow: row;
    grid-template-rows: 1fr;
    place-items: center;
    -webkit-box-align: center;
    overflow-x: scroll;
    background-color: var(--color_white);
}

.contentContainer {
    padding: 12px 0px;
    width : 100%;
    align-items: center;
    display: flex;
    background-color: var(--color_white);
    border-bottom: 0.1em solid #F9F9F9;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1;
    -webkit-box-orient: vertical;
    font-family : "Pretendard-Medium";
    font-size : 18px;
    margin-bottom : 4px;
    padding-right: 4px;
    text-align: left;   
    margin: 0px; 
}

.content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family : "Pretendard-Light";
    font-size : 16px;
    padding-right: 4px;
    color : #999999;
    text-align: left;   
    margin: 0px;
    margin-bottom: 4px;
}

.infoTxt {
    margin : 0px;
    line-height: 20px;
    font-size: 13px;
}

.icon {
    width: 11px;
    height: 11px;
    opacity: 0.5;
    object-fit: contain;
}

/* BoardPost */

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
}

.postContainer {
    padding-top:  20px;
    padding-bottom: 20px;
    align-items: flex-start;
}

.titleTxt {
    font-size: 20px;
    text-align: start;
    margin: 0px;
}

.contentTxt {
    font-size: 18px;
    font-family: "Pretendard-Light";
    margin : 0px;
    text-align: start;
}

.postinfoTxt { 
    font-size: 14px;
    color: #606060;
    margin: 0px;
    text-align: start;
    margin-bottom: 20px;
}

.likeContainer {
    border-radius: 30px;
    padding: 10px 14px;
    border: 0.1em solid #999999;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.7;

}

.likeTxt {
    margin: 0px;
    color : #606060
}

.postIcon {
    width : 14px;
    height: 14px;
    object-fit: contain;
    opacity: 0.7;
    margin-right: 6px;
}

.smallImg {
    width : 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 10px;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.topTagContainer {
    padding : 4px 10px;
    border-radius: 2px;
    background-color: var(--color_gray3_1);
}


.topTagTxt {
    font-size: 16px;
    margin : 0px;
    color : var(--color_gray0)
}

.smallTagContainer {
    padding : 2px 4px;
    border-radius: 2px;
    background-color: var(--color_gray3_1);
    padding-bottom: 10px;
}

.smallTagTxt{
    font-size: 12px;
    margin : 0px;
    color : var(--color_gray0)
}